<ion-view title="Setting">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h1>Setting</h1>
    </ion-content>
</ion-view>
