<div class="modal">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear button-assertive icon-left ion-ios7-camera" ng-click="takePicture(1)"></button>
            <button class="button button-clear button-balanced icon-left ion-ios7-folder" ng-click="takePicture(0)"></button>
        </div>
        <h1 class="title">Post Timeline</h1>
        <div class="buttons">
            <button class="button button-clear icon-left ion-ios7-close-empty button-small" ng-click="closeForm()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="save()">
            <div class="list list-inset">
                <label class="item">
                    <textarea name="content" class="timeline-form_textarea" ng-model="item.content" placeholder="Type in something"></textarea>
                </label>
                <div class="item item-divider" ng-if="item.picture">
                    <!-- <span>{{ item.picture.thumbnailURL(50, 50) }}</span> -->
                    <img ng-src="{{ item.picture.url }}?imageView/2/w/80/h/60/q/100/format/jpg" alt="">
                </div>
            </div>
            <div class="row timeline-form_btn-bars">
                <div class="col col-25 col-offset-75 timeline-form_submit-btn">
                    <button class="button button-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </ion-content>
</div>
