<ion-view title="Timeline">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="button">
        <button class="button button-clear icon-left ion-ios7-photos" ng-click="create()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in items" class="item-thumbnail-left item-button-right" ng-href="#/app/timeline_view/{{ item.objectId }}">
                <img ng-src="{{ item.picture.url }}?imageView/2/w/80/h/60/q/100/format/jpeg" alt="">
                <h2>{{ item.createdAt |date:'y-M-d H:mm:ss' }}</h2>
                <p>{{ item.name }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
