<ion-view title="Timeline / View">
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-avatar">
                <img src="/img/avatar.jpg">
                <h2>{{ item.name }}</h2>
                <p>发表时间:{{ item.createdAt |date:'y-M-d H:mm:ss' }}</p>
            </div>
            <div class="item item-body">
                <img src="{{ item.picture.url }}" class="full-image" alt="">
                <p>{{ item.content }}</p>
                <p>
                    <a href="#" class="subdued">{{ item.like }} Like</a>
                </p>
            </div>
            <div class="item button-bars single-timeline_btn-bars">
                <button class="button button-icon icon ion-thumbsup icon-left" ng-click="like()">Like</button>
                <button class="button button-icon icon ion-chatbox icon-left" ng-click="like()">Comment</button>
                <button class="button button-icon icon ion-share icon-left" ng-click="like()">Share</button>
            </div>
        </div>
    </ion-content>
</ion-view>
