/* Empty. Add your own CSS if you like */
.single-timeline_btn-bars{text-align: right;}
.timeline-form_btn-bars{/* height:50px; */}
.timeline-form_submit-btn{text-align:right;}
.timeline-form_textarea{min-height:85px;}